image {
    width: 50%
}

.searchBar {
    width: 50%;
    margin: 6% auto 2%;
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.navbar {
    background-color: red;
}

@media (max-width: 500px) {
    .searchBar{
    margin: 10% auto 2%;
    }
}